<div class="fflch-logodefault">

  <div class="fflch-firstsecondthird">

    <div class="fflch-first"> {# class="first" #}
      <div class="fflch-item">
        <a class="fflch-logo-link" href="{{front_page|t}}">
          <img class="fflch-logo-img" alt="fflch" src="{{ base_path ~ directory }}/images/logo.png" />
        </a>
      </div>
    </div>

    <div class="fflch-second"> {# class="second" #}
      <div class="fflch-item">
        <div class="fflch-slogan"> {# class="slogan" #}
            <a class="fflch-slogan-link" href="{{front_page|t}}">{{site_slogan|t}} &nbsp</a>
        </div>
        <div class="fflch-site-name"> {# class="site_name" #}
            <a class="fflch-site-name-link" href="{{front_page|t}}">{{site_name|t}} </a>
        </div>
      </div>
    </div>
    
    <div class="fflch-third"> {# class="third" #}
      <div class="fflch-item">
        <a class="fflch-logo-usp-link" href="https://www.usp.br" target="_blank">
          <img class="fflch-logo-usp-img" src="{{ base_path ~ directory }}/images/usp.png" />
        </a>  
      </div>
    </div>
    
  </div>

</div>