
<nav class="navbar navbar-expand-lg" style="background-color: #273e74; color: #fff;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% import _self as menus %}
      {#
        We call a macro which calls itself to render the full tree.
        @see https://twig.sensiolabs.org/doc/tags/macro.html
      #}
      {{ menus.menu_links(items, attributes, 0, menu_name) }} {# 1. #}
      {% macro menu_links(items, attributes, menu_level, menu_name) %} {# 1. #}
        {% import _self as menus %}  
        {% if items %}
          {# 1. #}
          {%
            set menu_classes = [
              'nav-item',
            ]
          %}
          {# 1. #}
          {%
            set submenu_classes = [
              'nav-item dropdown',
            ]
          %}
          {# 1. #}
          {%
            set item_classes = [
              'nav-item',
            ]
          %}
          {# 1. #}
          {%
            set link_classes = [
              'nav-link',
            ]
          %}
          {%
            set item_classes_drop = [
              'nav-link dropdown-toggle',
            ]
          %}
          {# 1. #}
          {%
            set link_classes_drop = [
              'dropdown-item',
            ]
          %}
          {% for item in items %}
            {% if item.menu_level == 0 %}
              {% if item.below %}
              <li{{ attributes.removeClass(menu_classes).addClass(submenu_classes) }}> {# 1. #}
                {{
                  link(
                    item.title,
                    item.url,
                    item.attributes.addClass(item_classes_drop)
                  )
                }}
                {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }} {# 1. #}
              {% else %}
                {{
                  link(
                    item.title,
                    item.url,
                    item.attributes.removeClass(item_classes_drop).addClass(link_classes_drop)
                  )
                }}
              {% endif %}
            {% else %}
              {% if item.below %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{
                  link(
                    item.title,
                    item.url,
                    item.attributes.addClass(link_classes_drop)
                  )
                }}
                {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }} {# 1. #}
              {% else %}
                {{
                  link(
                    item.title,
                    item.url,
                    item.attributes.removeClass(item_classes_drop).addClass(link_classes_drop)
                  )
                }}
              {% endif %}
              </div>
            {% endif %}
            </li>
          {% endfor %}
        {% endif %}
      {% endmacro %}
    </ul>
  </div>
</nav>
